<%=form_for @snippet do |f|%>
	<div="field">
		<%=f.label :title %> <br>
		<%=f.text_field :title %>


	<div class="field snippet-editor">
		<%=f.label :code %> <br>
		<%=f.select :language, ['ruby', 'javascript', 'html', 'css'], {}, class: 'editor-mode' %>
		<div id="snippet-code" class="editor"></div>
		<%=f.text_area :code %>
	</div>

	<div class="actions">
		<%=f.submit %>
	</div>
<%end%>
