<div class="snippet">
	<h2 class="title"><%= snippet.title %><span class="author">by <%= snippet.author.email %></h2>

	<div id="snippet-readonly" class="editor readonly" alt="<%=snippet.language%>" data-no-turbolink><%= snippet.code %></div>
	<% if snippet.tags %>
	  <div class="tag-list">
	  	<ul class="tags">
	  	<% snippet.tags.each do |tag| %>
	  		<li class="tag"><%= tag.title %></li>
	  	<% end %>
	  	</ul>
	  </div>
  <% end %>
</div>
