<div class="view">
<%= link_to "Don't have an account? Sign up!", new_user_path %>
  <div class="form-elements">
    <h1>welcome to <span class="close-tags"><</span><span class="brand">codebytes</span><span class="close-tags">></span>.</h1>
    <h4 style="margin-right: 85px;">we want to help make learning to code easier</h4>
    <h3 style="margin-left: 135px;">log in and add to your cheatsheet</h3>
    <h5 style="margin-right: 135px;">dont worry, we wont tell</h5>
    <h4 style="margin-left: 135px; margin-bottom: 50px">just code, code, code...</h4>
      <%= form_tag users_login_path do |f| %>
        <% if @errors %>
          <div class="form-errors">
            <ul>
              <li><%= @errors %></li>
            </ul>
          </div>
        <% end %>
    <div class="form">
        <p>
          <%= label_tag :email %>
          <%= text_field_tag :email %>
        </p>

        <p>
          <%= label_tag :password %>
          <%= password_field_tag :password %>
        </p>

        <p style="margin-right: 15%">
          <%= submit_tag "Log In" %>
        </p>
      <% end %>
    </div>
  </div>
</div>
