<%= form_tag users_login_path do |f| %>
  <% if @errors %>
    <div class="form-errors">
      <ul>
        <li><%= @errors %></li>
      </ul>
    </div>
  <% end %>
  <p>
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </p>

  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= submit_tag "Log In" %>
    <%= link_to "Don't have an account? Sign up!", new_user_path %>
  </p>
<% end %>
