<% if session[:user_id] %>

  <div data-no-turbolink><%= link_to "Home", root_path %></div>

  <h1><%= @user.email %></h1>

  <%= link_to "Edit Account", edit_user_path %>
  <%= link_to "Delete Account", user_path(@user.id), method: :delete %>

  <%= render 'cheatsheets/show' %>

<% else %>

  <%= render 'form' %>

<% end %>



