<% if session[:user_id] %>
  <%= link_to "Profile", user_path(session[:user_id]) %>
  <%= link_to "Log Out", users_logout_path, method: :delete %>
<% else %>
  <%= link_to 'Login', users_login_path %>
  <%= link_to 'Signup', new_user_path %>
<% end %>

<% @cheatsheets.each do |cheatsheet| %>
  <div class="cheatsheet">
    <h2><%= cheatsheet.name %></h2>
    <% cheatsheet.snippets.each do |snippet| %>
      <div class="snippet">
        <h3><%= snippet.title %></h3>
        <div class="snipcode">
          <%= snippet.code %><!-- Code Text Here -->
        </div>
      </div>
    <% end %>
  </div>
<% end  %>
