<%=form_for @snippet do |f|%>
	<div="field">
		<%=f.label :title %> <br>
		<%=f.text_field :title %>

	
	<div class="field snippet-editor">
		<%=f.label :code %> <br>
		<select class="editor-mode">
				<option value="ruby">Ruby</option>
				<option value="javascript">Javascript</option>
				<option value="css">CSS</option>
		  </select>
		<div id="snippet-code"></div>
		<%=f.text_area :code %>
	</div>
	
	<div class="actions">
		<%=f.submit %>
	</div>
<%end%>