<h1> Welcome to Snippets </h1>
<%= link_to 'Login', users_login_path %>
<%= link_to 'Signup', new_user_path %>
<%= link_to 'Profile', user_path(@user)%> <br>
    <% @snippets.each do |snippet| %>
      
       <h5> <%= snippet.title%> </h5>
       <pre class="prettyprint"> <%= snippet.code%> </pre>
        <%= link_to 'Show', snippet%> 
        <%= link_to 'Edit', edit_snippet_path(snippet) %>
        <%= link_to 'Destroy', snippet, method: :delete, data: { confirm: 'Are you sure?' } %> <br>
      
    <% end %>

<br>
<h4> Submit a New Snippet: </h4>
<%=render 'form'%>