<%= link_to "Home", root_path %>

<%= form_tag users_login_path do |f| %>
  <p>
    <%= label_tag :email %><br>
    <%= text_field_tag :email %>
  </p>

  <p>
    <%= label_tag :password %><br>
    <%= password_field_tag :password %>
  </p>

  <p>
    <%= submit_tag "Log In" %>
    <button><%= link_to "Sign Up", new_user_path %></button>
  </p>
<% end %>
