<!DOCTYPE html>
<html>
<head>
  <title>codebytes</title>
  <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav>
    <ul>
      <% if session[:user_id] %>
        <li><%= link_to "My Cheatsheets", user_path(session[:user_id]) %></li>
        <li><%= link_to "Log Out", users_logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'Log In', users_login_path %></li>
        <li><%= link_to 'Sign Up', new_user_path %></li>
      <% end %>
        <li>
          <%= form_tag snippets_path, :method => 'get', :id => "snippet_search" do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil %>
          <% end %>
        </li>
    </ul>
    <h1 data-no-turbolink><a href="/"><span class="star">★</span> codebytes</a></h1>
  </nav>
  <div class="container">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
    <div class="push"></div>
  </div>
  <footer>
    <div>Yep, this is a footer</div>
  </footer>
</body>
</html>
