<!DOCTYPE html>
<html>
<head>
  <title>codebytes</title>
  <%= stylesheet_link_tag    'application', media: 'all', "data-turbolinks-track" => true %>
  <%= javascript_include_tag 'application', "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <!-- Bootstrap Core CSS -->
  <link href="css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom CSS -->
  <link href="css/simple-sidebar.css" rel="stylesheet">

  <script src="js/jquery-1.11.0.js"></script>

  <script src="js/bootstrap.min.js"></script>

</head>
<body>
  <nav>
    <ul>
      <% if session[:user_id] %>
        <li><%= link_to "profile", user_path(session[:user_id]) %></li>
        <li><%= link_to "log out", users_logout_path, method: :delete %></li>
      <% else %>
        <li><%= link_to 'log in', users_login_path %></li>
        <li><%= link_to 'sign up', new_user_path %></li>
      <% end %>
        <li>
          <%= search_form_for @search_by_title do |f| %>
            <%= f.search_field :title_cont, :size => "50" %>
            <%= f.submit "Search", :class => "search-button" %>
          <% end %>
        </li>
    </ul>
    <a href="/"><div class="logo" data-no-turbolink></div></a>
  </nav>
  <div class="container">
    <% if flash[:notice] %>
      <p class="notice"><%= flash[:notice] %></p>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
